* {
    margin: 0px;
    padding: 0px;

    font-family: sans-serif, monospace;
    /** 删除所有的默认下划线 */
    text-decoration: none;
    /** 取消双击选中文字 */
    user-select:none;
}

/** 删除所有按钮的默认边框 */
button {
    border: none;
}

/** 删除所有输入框的默认边框  */
input {
    border: none;
    outline: none;
}

/** 设置默认手势 */
a {
    cursor: pointer;
}

/** 设置默认手势 */
button {
    cursor: pointer;
}

/** 删除网站纵向滚动条 */
html {
    scroll-behavior:smooth;
    overflow-x: hidden;
}

/** 背景图片 */
.background {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: url("http://localhost:8080/img/bg.jpg?scale=0.5"); */
    background-image: url("https://github.com/FengLiuFeseliud/pycqBot/blob/master/docs/img/bg.png?raw=true");
}

#app {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    
    background-color: var(--app-background-color);
}

.snow::after {
    content: "❆";
    color: var(--snow-color);
}

/** 亮色主题 */
[data-themes='default'] {
    /** */
    --app-background-color: rgba(255, 255, 255, 0.5);
    /** 盒子颜色 */
    --div-background-color: #fff;
     /** 盒子颜色 */
     --div-background-color-shallow: aliceblue;
    /** 深色盒子颜色 */
    --div-background-color-deep: rgb(135, 206, 235);
    /** 深色盒子颜色 */
    --div-background-color-deep: rgb(135, 206, 235);
    /** 半透明盒子颜色 */
    --cover-page-background-color: rgba(234, 234, 234, 0.5);
    /** 深色半透明盒子颜色 */
    --cover-page-background-color-deep: rgba(135, 206, 235, 0.5);
    /** 字体颜色 */
    --font-color: skyblue;
    /** 深色字体颜色 */
    --font-color-2: rgb(55, 136, 168);
    /** 按钮颜色 */
    --button-font-color: #f1f1f1;
    /** 深色按钮颜色 */
    --deep-button-font-color: #fff;
    /** 输入框颜色 */
    --input-color: #fff;
    /** 输入框字体颜色 */
    --input-focus-font-color: pink;
     /** 可点击字体颜色 */
    --link-hover-font-color: pink;
    --shadow-color: rgb(208, 207, 207);
    --shadow-color-deep: rgb(109, 109, 109);
    /** info 日志颜色 */
    --info-color: skyblue;
     /** warming 日志颜色 */
    --warming-color: #d9d900;
     /** error 日志颜色 */
    --error-color: #d50000;
    --snow-color: rgb(193, 238, 255);
    --admin-name: #ff6969;

    /** -markdown editor **/
    --markdown-editor-tools-bar-color: rgba(135, 207, 235, 0.8);
    --markdown-editor-tool-button-color: rgba(135, 207, 235, 0);
    --markdown-editor-tool-button-hover-color: rgba(135, 207, 235, 1);
    --markdown-editor-line-color: rgba(135, 207, 235, 0.8);
    --markdown-editor-line-font-color: #fff;

    /** markdown **/
    --markdown-line-color: aliceblue;
    --markdown-line-font-color: #fff;
    --markdown-editor-color: var(--cover-page-background-color);
    --markdown-editor-input-color: var(--cover-page-background-color);

    --background-blockquote-strip-color: rgb(191, 191, 191);
    --background-code-block-color: rgb(240, 251, 255);
    --hljs-value-color: rgb(149, 213, 52);
    --code-named-fence-filenam: rgb(213, 240, 251);
}

[data-themes='dark'] {
    /** */
    --app-background-color: rgba(35, 35, 35, 0.5);
    /** 盒子颜色 */
    --div-background-color: rgb(26, 26, 26);
    /** 盒子颜色 */
    --div-background-color-shallow: rgb(252, 198, 98);
    /** 深色盒子颜色 */
    --div-background-color-deep: rgb(255, 166, 0);
    /** 半透明盒子颜色 */
    --cover-page-background-color: rgba(26, 26, 26, 0.5);
    /** 深色半透明盒子颜色 */
    --cover-page-background-color-deep: rgba(158, 103, 0, 0.5);
    /** 字体颜色 */
    --font-color: orange;
    /** 深色字体颜色 */
    --font-color-2: rgb(228, 149, 0);
    /** 按钮颜色 */
    --button-font-color: #4c4c4c;
    /** 深色按钮颜色 */
    --deep-button-font-color: #434343;
    /** 输入框颜色 */
    --input-color: #434343;
    /** 输入框字体颜色 */
    --input-focus-font-color: rgb(157, 255, 0);
     /** 可点击字体颜色 */
    --link-hover-font-color: rgb(157, 255, 0);
    --shadow-color: rgb(26, 42, 0);
    /** info 日志颜色 */
    --info-color: rgb(157, 255, 0);
     /** warming 日志颜色 */
    --warming-color: #d9d900;
     /** error 日志颜色 */
    --error-color: #d50000;
    --snow-color: #fff;
    --admin-name: rgb(210, 255, 137);

    /** -markdown editor **/
    --markdown-editor-tools-bar-color: rgba(255, 165, 0, 0.8);
    --markdown-editor-tool-button-color: rgba(135, 207, 235, 0);
    --markdown-editor-tool-button-hover-color: #4c4c4cd0;
    --markdown-editor-line-color: rgba(228, 149, 0, 0.8);
    --markdown-editor-line-font-color: rgb(26, 26, 26);
    --markdown-editor-input-font-color: var(--font-color);

    /** markdown **/
    --markdown-line-color: aliceblue;
    --markdown-line-font-color: #fff;
    --markdown-editor-color: var(--cover-page-background-color);
    --markdown-editor-input-color: var(--cover-page-background-color);

    --background-blockquote-strip-color: rgb(192, 125, 0);
    --background-code-block-color: rgb(16, 16, 16);
    --hljs-value-color: rgb(149, 213, 52);
    --code-named-fence-filenam: rgb(42, 67, 0);
}